:root {
  --main-color: #6c49b8;
  --text-color: #566270;
  --sub-color: #d9d9d9;
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
}
body {
  background-color: #6c49b8;
}

@font-face {
  font-family: "AlexBrush";
  src: url("../..//fonts/AlexBrush-Regular.ttf");
}
@font-face {
  font-family: "DXPnM";
  src: url("../../fonts/DXPnM-KSCpc-EUC-H.ttf");
}

.icons {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 100px;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

element.style {
  color: none;
}

.shoppingcart {
  color: var(--main-color);
}

.product {
  padding-bottom: 600px;
}

.product_d {
  display: grid;

  grid-gap: 20px;
}

.click_button {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 100px;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.names {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 2rem;
  font-family: "DXPnM";
  display: grid;
  grid-template-columns: 3fr 1fr 2fr 3fr;
  grid-gap: 50px;
}

.carts {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr 3fr;
  grid-gap: 50px;
  align-items: center;
  justify-items: center;

  font-size: 1.5rem;
  font-family: "DXPnM";
  color: var(--text-color);
}
